@import "tailwindcss";

@theme {
  --color-brand-primary: #FFDE42;
  --color-brand-bg: #FBF6F6;
  --color-brand-text: #000000;
}

@layer base {
  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-text);
  }
}